@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../assets/vendors/apexcharts/apexcharts.css");
@import url("../assets/vendors/keenicons/styles.bundle.css");
@import url('../assets/css/styles.css');

.min-h-screen{min-height: 100vh;}
.page-bg {
    background-image: url('assets/media/images/2600x1200/bg-10.png');
}
.dark .page-bg {
    background-image: url('assets/media/images/2600x1200/bg-10-dark.png');
}
